# Projeto 2 Ciência de Dados:

Nome: Arthur Motta Gomes

Nome: Enzo Dadier Lacks Zamberlan

Nome: Guilherme Tumang

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re

In [2]:
filename = 'all_games.csv'

In [3]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Lenovo\CIÊNCIA_DE_DADOS\Projeto_2\Projeto_2_CDADOS

In [4]:
dataset = pd.read_csv(filename)
dataset.head(5)

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9

# Verificando o tamanho do DATASET:

Aqui verificaremos o tamanho do dataset, ainda sem descontar suas linhas que possuem valores nulos e sem valores.

In [5]:
dataset.shape

(18800, 6)

# Para verificar valores nulos:

Utilizaremos o .insull() para verificar se há valores nulos no nosso dataset, sendo assim faremos a somas desses valores nulos pelo código .sum(). Com isso nós iremos transformar os valores nulos em "NaN", ou seja, *"Not a Number"*, para logo em seguida eliminá-los criando enfim um dataset limpo e sem valores nulos.

In [6]:
dataset.isnull().sum()

name              0
platform          0
release_date      0
summary         114
meta_score        0
user_review       0
dtype: int64

In [7]:
nan_value = float("NaN")
data_clean = dataset
data_clean.replace("", nan_value, inplace=True)

data_clean.dropna(inplace=True)

In [8]:
data_clean.isnull().sum()

name            0
platform        0
release_date    0
summary         0
meta_score      0
user_review     0
dtype: int64

In [9]:
data_clean.shape

(18686, 6)

# Identificando a categoria de cada elemento utilizado e transformando-os caso necessário:

In [10]:
data_clean.dtypes

name            object
platform        object
release_date    object
summary         object
meta_score       int64
user_review     object
dtype: object

In [11]:
data_clean.user_review = pd.to_numeric(data_clean.user_review, errors='coerce').fillna(0).astype(np.float)

In [12]:
data_clean.dtypes

name             object
platform         object
release_date     object
summary          object
meta_score        int64
user_review     float64
dtype: object

# A partir desse momento iniciaremos nossa análise exploratória do problema apresentado pelo grupo:

Tendo em vista o anseio por saber qual será a plataforma de publicação do próximo jogo de sucesso e sua respectiva nota atribuída, vamos à seguinte exploração de dados:

In [13]:
dados_meta_score = data_clean.drop(['name','platform','release_date','summary','user_review'], axis=1)
dados_meta_score.describe().round(3)

       meta_score
count   18686.000
mean       70.656
std        12.233
min        20.000
25%        64.000
50%        72.000
75%        80.000
max        99.000

In [15]:
dados_user_review = data_clean.drop(['name','platform','release_date','summary','meta_score'], axis=1)
dados_user_review.describe().round(3)

       user_review
count    18686.000
mean         6.488
std          2.227
min          0.000
25%          6.000
50%          7.200
75%          7.900
max          9.700

_Observe que aqui teremos todos os consoles e videogames envolvidos no nosso pdSeries_

In [18]:
data_clean.drop(['name','release_date','summary','user_review','meta_score'], axis=1).groupby(data_clean.platform).describe().round(3)

                  platform
                     count unique                top  freq
platform
 3DS                   394      1                3DS   394
 DS                    718      1                 DS   718
 Dreamcast             125      1          Dreamcast   125
 Game Boy Advance      433      1   Game Boy Advance   433
 GameCube              448      1           GameCube   448
 Nintendo 64            71      1        Nintendo 64    71
 PC                   4829      1                 PC  4829
 PSP                   509      1                PSP   509
 PlayStation           186      1        PlayStation   186
 PlayStation 2        1412      1      PlayStation 2  1412
 PlayStation 3        1255      1      PlayStation 3  1255
 PlayStation 4        2039      1      PlayStation 4  2039
 PlayStation 5         124      1      PlayStation 5   124
 PlayStation Vita      254      1   PlayStation Vita   254
 Stadia                  5      1             Stadia     5
 Switch               1375      1             Switch  1375
 Wii                   654      1                Wii   654
 Wii U                 183      1              Wii U   183
 Xbox                  789      1               Xbox   789
 Xbox 360             1640      1           Xbox 360  1640
 Xbox One             1166      1           Xbox One  1166
 Xbox Series X          77      1      Xbox Series X    77